- name: Create JMeter directory
  file:
    path: "{{ jmeter_dir }}"
    state: directory
    mode: "0755"

- name: Download OpenJDK
  get_url:
    url: https://download.java.net/openjdk/jdk11/ri/openjdk-11+28_linux-x64_bin.tar.gz
    dest: "{{ jmeter_dir }}/openjdk.tar.gz"

- name: Create Java directory
  file:
    path: "{{ jmeter_dir }}/java"
    state: directory
    mode: "0755"

- name: Extract OpenJDK
  unarchive:
    src: "{{ jmeter_dir }}/openjdk.tar.gz"
    dest: "{{ jmeter_dir }}/java"
    remote_src: true

- name: Set JAVA_HOME and PATH
  lineinfile:
    path: "{{ jmeter_dir }}/.bashrc"
    line: 'export JAVA_HOME={{ jmeter_dir }}/java && export PATH=$JAVA_HOME/bin:$PATH'
    create: yes


- name: Download JMeter
  get_url:
    url: https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
    dest: "{{ jmeter_dir }}/jmeter.tgz"

- name: Extract JMeter
  unarchive:
    src: "{{ jmeter_dir }}/jmeter.tgz"
    dest: "{{ jmeter_dir }}"
    remote_src: true


- name: Create results directory
  file:
    path: "{{ jmeter_dir }}/results"
    state: absent

- name: Create results directory
  file:
    path: "{{ jmeter_dir }}/results"
    state: directory
    mode: "0755"

- name: Create tests directory
  file:
    path: "{{ jmeter_dir }}/tests"
    state: directory
    mode: "0755"


- name: Copy JMeter test file
  copy:
    src: "{{ load_test_file }}"
    dest: "{{ jmeter_dir }}/tests/test.jmx"


- name: Run JMeter
  command:
    argv:
      - "{{ jmeter_dir }}/apache-jmeter-5.6.3/bin/jmeter"
      - -n
      - -t
      - "{{ jmeter_dir }}/tests/test.jmx"
      - -l
      - "{{ jmeter_dir }}/results/results.jtl"
      - -e
      - -o
      - "{{ jmeter_dir }}/results/report"
  environment:
    JAVA_HOME: "{{ jmeter_dir }}/java/jdk-11"
    PATH: "{{ jmeter_dir }}/java/jdk-11/bin:{{ ansible_env.PATH }}"


- name: Archive JMeter results
  archive:
    path: "{{ jmeter_dir }}/results/"
    dest: "{{ jmeter_dir }}/results.tar.gz"
    format: gz

- name: Fetch JMeter results
  fetch:
    src: "{{ jmeter_dir }}/results.tar.gz"
    dest: results/
    flat: yes



