apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
    tier: database
  namespace: default
spec:
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
        tier: database
    spec:
      containers:
      - name: postgres
        image: "{{ db_image }}"
        env: # The variables below could be set on a ConfigMap object
        - name: postgres_ALLOW_EMPTY_PASSWORD
          value: "true"
        - name: postgres_DATABASE
          value: "{{ db_name }}"
        - name: postgres_USER
          value: "{{ db_username }}"
        - name: postgres_PASSWORD
          value: "{{ db_password }}"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-persistent-storage
          mountPath: /var/lib/postgres
      volumes:
      - name: postgres-persistent-storage
        persistentVolumeClaim:
          claimName: "{{ pvc_name }}"
