apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ pvc_name }}"
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  {% if pvc_storage_class is defined and pvc_storage_class | length > 0 %}
  storageClassName: "{{ pvc_storage_class }}"
  {% endif %}