- name: Create load VM instance from template
  shell: >
    gcloud compute instances create {{ vm }}
    --source-instance-template={{ vm_template }}
    --zone {{ load_vm_zone }}
  register: gcloud_result