- name: Create load VM instance
  shell: gcloud compute instances create {{ vm }} --machine-type {{machine_type}} --image-family ubuntu-2004-lts --image-project ubuntu-os-cloud --zone {{load_vm_zone}} --labels vm=load
  register: gcloud_result