- name: Create VM from regional template
  google.cloud.gcp_compute_instance:
    name: "{{ vm }}"
    zone: "{{ load_vm_zone }}"
    source_instance_template: "projects/{{ gcp_project }}/regions/{{ template_region }}/instanceTemplates/{{ vm_template }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_auth_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present
  register: gcloud_result