- name: Create a build directory
  ansible.builtin.file:
    path: "{{ docker_build_dir }}"
    state: directory
    mode: '0755'
  when: build is defined and build

- name: Copy Dockerfile to the build directory
  ansible.builtin.copy:
    src: Dockerfile
    dest: "{{ docker_build_dir }}"
    mode: "0644"
  when: build is defined and build

- name: Copy script to the build directory
  ansible.builtin.copy:
    src: script.sh
    dest: "{{ docker_build_dir }}"
    mode: "0755"
  when: build is defined and build

- name: Build and push Docker image to registry
  community.docker.docker_image:
    name: "{{ registry_url }}/{{ airtrail_image }}"
    build:
      path: "{{ docker_build_dir }}"
    source: build
    push: yes
  when: build is defined and build

