- name: "Deploy AirTrail"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'airtrail-deployment.yml') | from_yaml }}"
    wait: true

- name: "Create a service for exposing AirTrail"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'airtrail-service.yml') | from_yaml }}"
    wait: true

- name: "Wait till AirTrail pod is created"
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: default 
    label_selectors:
      - app=airtrail
    wait: true
    wait_sleep: 5
    wait_timeout: 180
  register: airtrail_pod_info

- name: "Get AirTrail service info"
  kubernetes.core.k8s_info:
    kind: Service
    name: airtrail-service
    namespace: default
  register: airtrail_service_info

- name: Wait for AirTrail LoadBalancer IP to be assigned
  kubernetes.core.k8s_info:
    kind: Service
    name: airtrail-service  # Ensure this matches your service name
    namespace: default
  register: airtrail_service_info
  # Keep retrying until the 'ingress' list exists
  until: >-
    airtrail_service_info.resources[0].status.loadBalancer.ingress is defined and
    airtrail_service_info.resources[0].status.loadBalancer.ingress | length > 0
  retries: 10
  delay: 10
  
- name: "Set AirTrail external IP fact"
  set_fact:
    app_ip: >-
      {{ airtrail_service_info.resources[0].status.loadBalancer.ingress[0].ip
         | default(airtrail_service_info.resources[0].status.loadBalancer.ingress[0].hostname, true) }}

- name: "Set AirTrail external port fact"
  set_fact:
    app_port: "{{ airtrail_service_info.resources[0].spec.ports[0].port }}"

- name: Persist app endpoint to group_vars/all.yml (idempotent)
  ansible.builtin.blockinfile:
    path: group_vars/all.yml
    create: yes
    marker: "# {mark} ANSIBLE MANAGED AIRTRAIL ENDPOINT"
    block: |
      # app endpoint (managed)
      app_ip: "{{ app_ip | default('') }}"
      app_port: "{{ app_port | default('') }}"
  when: app_ip is defined and app_ip | length > 0