- name: "Remove AirTrail HPA"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_airtrail/templates/airtrail-hpa.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove AirTrail deployment"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_airtrail/templates/airtrail-deployment.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove AirTrail service"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_airtrail/templates/airtrail-service.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove AirTrail Secret"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_airtrail/templates/airtrail-secret.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove Postgres deployment"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_postgres/templates/postgres-deployment.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove Postgres service"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_postgres/templates/postgres-service.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove Postgres Secret"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '../k8s_postgres/templates/postgres-secret.yml') | from_yaml }}"
  ignore_errors: false

- name: "Remove AirTrail endpoint from group_vars"
  ansible.builtin.blockinfile:
    path: group_vars/all.yml
    marker: "# {mark} ANSIBLE MANAGED AIRTRAIL ENDPOINT"
    state: absent

